body {
    font-family: Segoe UI,Tahoma,Arial;
    font-size: 14px;
    color: #666;
}

th {
    text-align: left;
    font-size: 15px;
    padding-bottom: 5px;
    padding-right: 25px;
    padding-top: 5px;
    min-width: 50px;
    min-height: 40px;
}

td {
    padding-bottom: 5px;
    font-size: 14px;
    padding-right: 25px;
    padding-top: 5px;
    min-height: 40px;
    vertical-align: top;
}

a {
    color: #0e6d51;
    margin-left: 5px;
    padding-left: 5px;
    text-decoration: underline;
}

p {
    color: #353535;
    margin-bottom: 10px;
}

table {
    color: #353535;
    margin-left: 3px;
    padding-left: 5px;
}

thead { font-weight: bold; }

.button {
    background-color: #0e6d51;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-radius: 5px;
    border-right: 1px solid #333333;
    border-top: 1px solid #CCCCCC;
    color: white;
    cursor: pointer;
    font-weight: normal;
    margin-right: 10px;
    min-height: 20px;
    min-width: 40px;
    padding: 2px 6px 2px 6px;
    text-align: center;
    text-decoration: none;
}


img.progress {
    width: 18px;
    height: 18px;
}

.button {
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border: 1px solid #333333;
  min-width: 120px;
}